<div class="card m-3">
    <h5 class="card-header cardTitle">Reactive Form Validation</h5>
    <div class="card-body">
        <form [formGroup]="userDetailForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-6 mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
                    <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                        <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
                    <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                        <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Ex: vijayaraj@gmail.com"/>
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                        <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Date of Birth</label>
                    <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />
                    <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                        <div *ngIf="f['dob'].errors['required']">Date of Birth is required</div>
                        <div *ngIf="f['dob'].errors['pattern']">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Gender</label>
                    <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }">
                        <option value="">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <div *ngIf="submitted && f['gender'].errors" class="invalid-feedback">
                        <div *ngIf="f['gender'].errors['required']">Gender is required</div>
                    </div>
                </div>
                <div class="col-md-8 mb-3">
                    <label class="form-label">Address</label>
                    <textarea formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" rows="4" cols="50"></textarea>
                    <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                        <div *ngIf="f['address'].errors['required']">Address is required</div>
                    </div>
                </div>
            </div>
            
            <div class="text-center">
                <button class="btn btn-primary me-2">Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
            </div>
        </form>
    </div>
</div>